<nav>
	<div class="row h-10 border-bottom align-items-center">
		<div class="col-2">
			<img src="img/google.png" class="logo" />
		</div>
		<div class="col-3">
			<input type="text" class="form-control" />
		</div>
		<div class="col">
			<button class="btn btn-primary">Search</button>
		</div>
	</div>
</nav>



<div class="cuerpo-results">
	<p class="small py-2">{{resultsList.length}} Results</p>

 {{#each resultsList as |info|}}

	<p class="small">{{info.url}}</p>
	<p class="h2">
		<a href="{{info.url}}" class="link-primary"
			>{{info.title}}</a
		>
	</p>
	<p>
		{{info.description}}
	</p>
	<ul>
		{{#each info.links as |link|}}
			<li><a href={{link.url}} class="link-primary">{{link.title}}</a></li>
		{{/each}}
	</ul>
		{{/each}}
